<!-- src/app/components/sidebar/sidebar.component.html -->

<div
  class="flex-none w-full px-3 min-h-full border-r-2 border-pink-800/50 hover:border-white/50"
>
  <Accordion>
    <!-- Sort -->
    <AccordionItem value="sort" [activeIndex]="['sort']">
      <AccordionTrigger>
        <span
          class="transition-all duration-300 font-medium text-accent-foreground group-hover:text-primary lg:text-lg md:text-base sm:text-sm text-xs"
        >
          Sort
        </span>
      </AccordionTrigger>
      <AccordionContent>
        @for (option of sortOptions; track option.value) {
        <ul>
          <li class="flex items-center">
            <input
              type="radio"
              class="peer"
              [id]="option.value"
              [name]="'sort'"
              [value]="option.value"
              [checked]="filter().sort === option.value"
              (change)="applySort(option.value)"
            />
            <label
              [for]="option.value"
              class="transition-all duration-100 ml-3 lg:text-base md:text-sm sm:text-xs text-xs text-stone-400 peer-hover:text-accent-foreground peer-checked:text-accent-foreground peer-checked:hover:text-primary-light"
              >{{ option.label }}</label
            >
          </li>
        </ul>
        }
      </AccordionContent>
    </AccordionItem>

    <!-- Type -->
    <AccordionItem value="type" [activeIndex]="['type']">
      <AccordionTrigger>
        <span
          class="transition-all duration-300 font-medium text-accent-foreground group-hover:text-primary lg:text-lg md:text-base sm:text-sm text-xs"
        >
          Supplement
        </span>
      </AccordionTrigger>
      <AccordionContent>
        @for (option of typeOptions; track option.value) {
        <ul>
          <li class="flex items-center">
            <input
              type="checkbox"
              class="peer"
              [id]="option.value"
              [checked]="filter().type.includes(option.value)"
              (change)="applyArrayFilter('type', option.value)"
            />
            <label
              [for]="option.value"
              class="transition-all duration-100 ml-3 lg:text-base md:text-sm sm:text-xs text-xs text-stone-400 peer-hover:text-accent-foreground peer-checked:text-accent-foreground peer-checked:hover:text-primary-light"
              >{{ option.label }}</label
            >
          </li>
        </ul>
        }
      </AccordionContent>
    </AccordionItem>

    <!-- Brand -->
    <AccordionItem value="brand" [activeIndex]="['brand']">
      <AccordionTrigger>
        <span
          class="transition-all duration-300 font-medium text-accent-foreground group-hover:text-primary lg:text-lg md:text-base sm:text-sm text-xs"
        >
          Brand
        </span>
      </AccordionTrigger>
      <AccordionContent>
        @for (option of brandOptions; track option.value) {
        <ul>
          <li class="flex items-center">
            <input
              type="checkbox"
              class="peer"
              [id]="option.value"
              [checked]="filter().brand.includes(option.value)"
              (change)="applyArrayFilter('brand', option.value)"
            />
            <label
              [for]="option.value"
              class="transition-all duration-100 ml-3 lg:text-base md:text-sm sm:text-xs text-xs text-stone-400 peer-hover:text-accent-foreground peer-checked:text-accent-foreground peer-checked:hover:text-primary-light"
              >{{ option.label }}</label
            >
          </li>
        </ul>
        }
      </AccordionContent>
    </AccordionItem>

    <!-- Price -->
    <AccordionItem value="price" [activeIndex]="['price']">
      <AccordionTrigger>
        <span
          class="transition-all duration-300 font-medium text-accent-foreground group-hover:text-primary lg:text-lg md:text-base sm:text-sm text-xs"
        >
          Price
        </span>
      </AccordionTrigger>
      <AccordionContent>
        @for (option of priceOptions; track option.value) {
        <ul>
          <li class="flex items-center">
            <input
              type="radio"
              class="peer"
              [id]="'price-' + option.value.join('-')"
              [name]="'price'"
              [checked]="
                !isCustomPrice() &&
                filter().price.range[0] === option.value[0] &&
                filter().price.range[1] === option.value[1]
              "
              (change)="selectPresetPrice(option.value)"
            />
            <label
              [for]="'price-' + option.value.join('-')"
              class="transition-all duration-500 ml-3 lg:text-base md:text-sm sm:text-xs text-xs text-stone-400 peer-hover:text-accent-foreground peer-checked:text-accent-foreground peer-checked:hover:text-primary-light"
            >
              {{ option.label }}
            </label>
          </li>
        </ul>
        }

        <!-- Custom price -->
        <ul class="space-y-20">
          <li class="flex items-center">
            <input
              type="radio"
              class="peer"
              id="price-custom"
              name="price"
              [checked]="isCustomPrice()"
              (change)="enableCustomPrice()"
            />
            <label
              for="price-custom"
              class="transition-all duration-500 ml-3 lg:text-base md:text-sm sm:text-xs text-xs text-stone-400 peer-hover:text-accent-foreground peer-checked:text-accent-foreground peer-checked:hover:text-primary-light"
            >
              Custom
            </label>
          </li>
        </ul>

        <div
          *ngIf="isCustomPrice()"
          role="group"
          aria-label="Custom price range"
        >
          <div
            class="flex justify-between pb-4 text-accent-foreground font-medium lg:text-base md:text-sm sm:text-xs text-xs"
          >
            <p
              [class]="
                filter().price.isCustom
                  ? 'text-primary-light hover:text-primary'
                  : ''
              "
            >
              Price
            </p>

            <div>
              £<span aria-label="Minimum price" class="text-primary">{{
                priceMin().toFixed(0)
              }}</span
              >{{ " " }}- £<span
                aria-label="Maximum price"
                class="text-primary"
                >{{ priceMax().toFixed(0) }}</span
              >
            </div>
          </div>
          <app-slider
            [min]="rangeMin"
            [max]="rangeMax"
            [step]="sliderStep"
            [values]="getCurrentPriceRange()"
            (valuesChange)="onSliderChange($event)"
            aria-label="Price range slider"
          ></app-slider>
        </div>
      </AccordionContent>
    </AccordionItem>
  </Accordion>
  <div class="pb-10"></div>
</div>
